@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Inter:wght@300;400;500;700;900&family=Lusitana:wght@400;700&family=Raleway:ital,wght@0,700;1,400&display=swap");
html, body {
  color: #191919;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.btn__yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 8px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn__yellow i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn__yellow:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #DAD9D3;
}

.btn__transparent {
  color: #191919;
  text-decoration: none;
  padding: 8px 25px;
  font-weight: 600;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 25px;
}
.btn__transparent i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn__transparent:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #DAD9D3;
}

.home__page {
  background-color: #F0EFE9;
}
@media (max-width: 1199px) {
  .home__page {
    height: 900px;
  }
}
.home__page .company__logo {
  margin-right: 30px;
}
.home__page .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home__page .header {
  height: 120px;
}
.home__page .header .menu {
  display: none;
}
@media (min-width: 1023px) {
  .home__page .header .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    flex: 1;
  }
}
.home__page .header .menu .top__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #DAD9D3;
}
.home__page .header .menu .top__menu .contact__information {
  display: flex;
  padding-bottom: 15px;
  margin-top: 15px;
}
.home__page .header .menu .top__menu .contact__information .content__box {
  margin-right: 30px;
  padding-right: 30px;
  border-right: 1px solid #DAD9D3;
}
@media (max-width: 1024px) {
  .home__page .header .menu .top__menu .contact__information .content__box {
    display: none;
  }
}
.home__page .header .menu .top__menu .contact__information .last {
  border-right: none;
}
.home__page .header .menu .top__menu .social__media a {
  color: #191919;
  margin-left: 15px;
  font-size: 20px;
}
.home__page .header .menu .main__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.home__page .header .menu .main__menu nav a {
  text-decoration: none;
  margin-right: 20px;
  color: #191919;
}
.home__page .menu__bars {
  border: none;
  font-size: 25px;
}
@media (min-width: 1023px) {
  .home__page .menu__bars {
    display: none;
  }
}
.home__page .banner {
  display: flex;
  justify-content: left;
  height: 80%;
}
.home__page .banner .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
}
@media (min-width: 426px) and (max-width: 1023px) {
  .home__page .banner .content {
    width: 80%;
  }
}
@media (min-width: 426px) and (max-width: 1024px) {
  .home__page .banner .cotnent__style {
    max-width: 450px;
  }
}
.home__page .banner .main__text {
  font-size: 3.2rem;
  font-weight: 700;
}
@media (min-width: 426px) and (max-width: 1024px) {
  .home__page .banner .main__text {
    font-size: 3.5rem;
    min-width: 450px;
  }
}
@media (min-width: 1025px) {
  .home__page .banner .main__text {
    max-width: 650px;
    font-size: 5rem;
  }
}
.home__page .banner .sub__text {
  font-size: 0.9rem;
  color: rgba(25, 25, 25, 0.7);
}
@media (min-width: 1025px) {
  .home__page .banner .sub__text {
    min-width: 650px;
    font-size: 1.1rem;
  }
}
.home__page .banner .btns__banner {
  margin-top: 20px;
}
.home__page .banner .btns__banner .btn__yellow,
.home__page .banner .btns__banner .btn__transparent {
  margin-right: 20px;
}
@media (max-width: 425px) {
  .home__page .banner .btns__banner .btn__yellow,
  .home__page .banner .btns__banner .btn__transparent {
    font-size: 0.8rem;
    margin-right: 10px;
  }
}
.home__page .banner .banner__img {
  display: none;
}
@media (min-width: 768px) and (min-width: 1024px) {
  .home__page .banner .banner__img {
    width: 200px;
    height: auto;
  }
}
@media (min-width: 1200px) {
  .home__page .banner .banner__img {
    display: block;
  }
}

.logos {
  display: flex;
  flex-wrap: wrap;
  height: 200px;
}
@media (max-width: 993px) {
  .logos {
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .logos img {
    width: 180px;
  }
}
@media (min-width: 1200px) {
  .logos img {
    width: 250px;
  }
}