@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Inter:wght@300;400;500;700;900&family=Lusitana:wght@400;700&family=Raleway:ital,wght@0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
}

html, body {
  color: #191919;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.btn__yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  text-align: center;
  padding: 8px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn__yellow i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn__yellow:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #DAD9D3;
}

.btn__transparent {
  color: #191919;
  text-decoration: none;
  padding: 8px 25px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  border: 1px solid black;
  border-radius: 25px;
}
.btn__transparent i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn__transparent:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #DAD9D3;
}

.btn__black {
  color: #DAD9D3;
  background-color: #191919;
  text-decoration: none;
  padding: 8px 25px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  border: 1px solid black;
  border-radius: 25px;
}
.btn__black i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn__black:hover {
  background-color: #F0EFE9;
  border: 1px solid #191919;
  color: #191919;
}

.home__page {
  background-color: #F0EFE9;
}
@media (max-width: 1199px) {
  .home__page {
    height: 900px;
  }
}
.home__page .company__logo {
  margin-right: 30px;
}
.home__page .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home__page .header {
  height: 120px;
}
.home__page .header .menu {
  display: none;
}
@media (min-width: 1023px) {
  .home__page .header .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    flex: 1;
  }
}
.home__page .header .menu .top__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #DAD9D3;
}
.home__page .header .menu .top__menu .contact__information {
  display: flex;
  padding-bottom: 15px;
  margin-top: 15px;
}
.home__page .header .menu .top__menu .contact__information .content__box {
  margin-right: 30px;
  padding-right: 30px;
  border-right: 1px solid #DAD9D3;
}
@media (max-width: 1024px) {
  .home__page .header .menu .top__menu .contact__information .content__box {
    display: none;
  }
}
.home__page .header .menu .top__menu .contact__information .last {
  border-right: none;
}
.home__page .header .menu .top__menu .social__media a {
  color: #191919;
  margin-left: 15px;
  font-size: 20px;
}
.home__page .header .menu .main__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.home__page .header .menu .main__menu nav a {
  text-decoration: none;
  margin-right: 20px;
  color: #191919;
}
.home__page .menu__bars {
  border: none;
  font-size: 25px;
}
@media (min-width: 1023px) {
  .home__page .menu__bars {
    display: none;
  }
}
.home__page .banner {
  display: flex;
  justify-content: left;
  height: 780px;
}
.home__page .banner .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 426px) and (max-width: 1023px) {
  .home__page .banner .content {
    display: flex;
    align-items: center;
    width: 100%;
  }
}
@media (min-width: 426px) and (max-width: 1024px) {
  .home__page .banner .cotnent__style {
    max-width: 450px;
  }
}
.home__page .banner .main__text {
  font-size: 3.2rem;
  font-weight: 700;
}
@media (min-width: 426px) and (max-width: 1024px) {
  .home__page .banner .main__text {
    font-size: 3.5rem;
    min-width: 450px;
  }
}
@media (min-width: 1025px) {
  .home__page .banner .main__text {
    max-width: 650px;
    font-size: 5rem;
  }
}
.home__page .banner .sub__text {
  font-size: 0.9rem;
  color: rgba(25, 25, 25, 0.7);
}
@media (min-width: 1025px) {
  .home__page .banner .sub__text {
    max-width: 650px;
    font-size: 1.1rem;
  }
}
.home__page .banner .btns__banner {
  margin-top: 20px;
}
.home__page .banner .btns__banner .btn__yellow,
.home__page .banner .btns__banner .btn__transparent {
  margin-right: 20px;
}
@media (max-width: 425px) {
  .home__page .banner .btns__banner .btn__yellow,
  .home__page .banner .btns__banner .btn__transparent {
    font-size: 0.8rem;
    margin-right: 10px;
  }
}
.home__page .banner .banner__img {
  display: none;
}
@media (min-width: 768px) and (min-width: 1024px) {
  .home__page .banner .banner__img {
    width: 200px;
    height: auto;
  }
}
@media (min-width: 1200px) {
  .home__page .banner .banner__img {
    display: block;
    margin-top: 50px;
  }
}

.logos {
  display: flex;
  flex-wrap: wrap;
  margin-top: 75px;
  margin-bottom: 75px;
  height: 88px;
}
@media (max-width: 993px) {
  .logos {
    justify-content: center;
    height: 200px;
  }
}
@media (max-width: 1024px) {
  .logos img {
    width: 180px;
  }
}
@media (min-width: 1200px) {
  .logos img {
    width: 250px;
  }
}

.fetures {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .fetures {
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #DAD9D3;
    padding: 80px;
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .fetures {
    flex-direction: column;
  }
}
@media (max-width: 425px) {
  .fetures .fetures__text {
    margin-bottom: 50px;
  }
}
@media (min-width: 426px) and (max-width: 1023px) {
  .fetures .fetures__text {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: auto;
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .fetures .fetures__text {
    align-self: center;
    max-width: 350px;
    margin-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  .fetures .fetures__text {
    max-width: 460px;
  }
}
.fetures .fetures__text .fetures__sub__text {
  font-size: 18px;
  color: #f94d1c;
}
.fetures .fetures__text .fetures__main__text {
  font-size: 2rem;
  font-weight: bold;
}
@media (min-width: 1200px) {
  .fetures .fetures__text .fetures__main__text {
    font-size: 45px;
  }
}
@media (max-width: 767px) {
  .fetures .fetures__text .btn__yellow {
    width: 180px;
  }
}
@media (min-width: 768px) {
  .fetures .fetures__text .btn__yellow {
    display: block;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .fetures .fetures__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.fetures .fetures__cards .fetures__card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 307px;
  height: 220px;
  padding: 25px 40px;
}
.fetures .fetures__cards .fetures__card h3 {
  font-size: 22px;
  font-weight: bold;
}
.fetures .fetures__cards .fetures__card i {
  font-size: 40px;
  font-weight: bold;
}
.fetures .fetures__cards .fetures__card p {
  color: #a7a6a4;
}

.company {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-width: 1320;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .company {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1024px) {
  .company {
    flex-direction: row;
    margin-top: 120px;
    align-items: flex-start;
    max-width: 1300px;
  }
}
.company .company__img__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 350px;
}
@media (min-width: 1024px) {
  .company .company__img__wrapper {
    max-width: 400px;
  }
}
@media (min-width: 1199px) {
  .company .company__img__wrapper {
    max-width: 500px;
  }
}
.company .company__img__wrapper .company__img {
  max-width: 300px;
}
@media (min-width: 1024px) {
  .company .company__img__wrapper .company__img {
    max-width: 400px;
  }
}
@media (min-width: 1199px) {
  .company .company__img__wrapper .company__img {
    max-width: 500px;
  }
}
.company .company__img__wrapper .company__founder__wrapper {
  position: absolute;
  bottom: 70px;
  left: 0;
  width: 230px;
  background-color: #beebff;
  font-weight: bold;
}
@media (min-width: 1024px) {
  .company .company__img__wrapper .company__founder__wrapper {
    bottom: 140px;
    left: -25px;
    width: 260px;
  }
}
@media (min-width: 1199px) {
  .company .company__img__wrapper .company__founder__wrapper {
    bottom: 200px;
    width: 320px;
  }
}
.company .company__img__wrapper .company__founder__wrapper .founder {
  color: #f94d1c;
}
.company .company__text {
  width: 350px;
}
@media (min-width: 1199px) {
  .company .company__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 530px;
    height: 590px;
  }
}
.company .company__text .company__about {
  color: #f94d1c;
  font-size: 18px;
  font-weight: 500;
  margin-top: 30px;
}
.company .company__text .company__header {
  font-size: 2rem;
  font-weight: bold;
}
@media (min-width: 1199px) {
  .company .company__text .company__header {
    font-size: 45px;
  }
}
.company .company__text .company__btn {
  display: flex;
  align-items: center;
}
.company .company__text .company__btn .btn__black {
  margin-right: 30px;
}
.company .company__text .company__btn .fa-circle-play {
  font-size: 48px;
}
.company .company__text .company__btn .video__text {
  margin-left: 10px;
}