@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Inter:wght@300;400;500;700;900&family=Lusitana:wght@400;700&family=Raleway:ital,wght@0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    color: #191919;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.btn__yellow {
    background-color: #F9D783;
    border: 1px solid #F9D783;
    color: #191919;
    text-decoration: none;
    text-align: center;
    padding: 8px 25px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;


    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #DAD9D3;
    }

}

.btn__transparent {
    color: #191919;
    text-decoration: none;
    padding: 8px 25px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    border: 1px solid black;
    border-radius: 25px;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #DAD9D3;
    }

}


.btn__black {
    color: white;
    background-color: #191919;
    text-decoration: none;
    padding: 8px 25px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    border: 1px solid black;
    border-radius: 25px;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: white;
        border: 1px solid #191919;
        color: #191919;
    }

}

.home__page {

    background-color: #F0EFE9;


    @media (max-width: 1199px) {
        height: 900px;
    }
    
    

    .company__logo {
        margin-right: 30px;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header {

        height: 120px;

        .menu {
            display: none;
           
    
            @media (min-width: 1023px) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
                flex: 1;
            }

            .top__menu {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: solid 1px #DAD9D3;

                .contact__information {
                    display: flex;
                    padding-bottom: 15px;
                    margin-top: 15px;

                    .content__box {        

                        margin-right: 30px;
                        padding-right: 30px;
                        border-right: 1px solid #DAD9D3;
                        
                        @media (max-width: 1024px) {
                            display: none;
                        }
                    }

                    .last {
                        border-right: none;
                    }

                }

                .social__media {

                    a{
                        color: #191919;
                        margin-left: 15px;
                        font-size: 20px;
                    }
                    
                }
            }

            .main__menu {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 15px;

                nav {

                    a {
                        text-decoration: none;
                        margin-right: 20px;
                        color: #191919;
                    }

                }
            }
        }

    }


    .menu__bars {
        border: none;
        font-size: 25px;

        @media (min-width: 1023px) {
            display: none;
        }

    }

    .banner {

        display: flex;
        justify-content: left;
        height: 780px;

        .content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            

            @media (min-width:426px) and (max-width:1023px) {
                display: flex;
                align-items: center;
                width: 100%;
            } 

        }

        .cotnent__style {

            @media (min-width:426px) and (max-width:1024px) {
                max-width: 450px;
            } 
            
        }

        .main__text {
            font-size: 3.2rem;
            font-weight: 700;

            @media (min-width:426px) and (max-width:1024px) {
                font-size: 3.5rem;
                min-width: 450px;
            } 

            @media (min-width:1025px){
                max-width: 650px;
                font-size: 5rem;
                
            } 

        }

        .sub__text {
            font-size: .9rem;
            color: rgba(25,25,25,0.7 );

            @media (min-width:1025px){
                max-width: 650px;
                font-size: 1.1rem;              
            } 
        }

        .btns__banner {
            
            margin-top: 20px;

            .btn__yellow,
            .btn__transparent {
                
                margin-right: 20px;

                @media (max-width: 425px) {
                    font-size: .8rem;
                    margin-right: 10px;
                }  
            }
            
        }


        .banner__img {

            display: none;
            
            @media (min-width: 768px)  and (min-width: 1024px){
                width: 200px;
                height: auto;
            }

            @media (min-width: 1200px) {
                display: block;
                margin-top: 50px;
            }

        }

    }


}  

.logos {

    display: flex;
    flex-wrap: wrap;
    margin-top: 75px;
    margin-bottom: 75px;
    
    @media (max-width: 993px) {
        justify-content: center;
        height: 200px;
    }

    height: 88px;

    img {
        @media (max-width: 1024px) {
            width: 180px;
        }

        @media (min-width: 1200px) {
            width: 250px;
        }
    }

}

.fetures {

    display: flex;
    flex-direction: column;

    @media (min-width:1024px) {
        flex-direction: row;
        justify-content: space-between;
        border: 1px solid #DAD9D3;
        padding: 80px;
    } 

    @media (min-width:1024px) and (max-width:1199px) {
        flex-direction: column;
    } 

    .fetures__text{


        @media (max-width: 425px) {
            margin-bottom: 50px;
        }

        @media (min-width:426px) and (max-width:1023px) {
            display: flex;
            flex-direction: column;
            max-width: 350px;
            margin: auto;
        } 

        @media (min-width:1024px) and (max-width:1199px) {
            align-self: center;
            max-width: 350px;
            margin-bottom: 80px;
        } 

        @media (min-width:1200px) {
            max-width: 460px;
        } 
        
        .fetures__sub__text {
            font-size: 18px;
            color: #f94d1c;
        }

        .fetures__main__text {
            font-size: 2rem;
            font-weight: bold;

            @media (min-width:1200px) {
                font-size: 45px;
            } 

        }

        .btn__yellow {
            
            @media (max-width: 767px) {
                width: 180px;
            }

            @media (min-width: 768px) {
                display: block;
                width: 100%;
            }

        }

    }

    .fetures__cards {

        @media (min-width:768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        } 
        
        .fetures__card {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            max-width: 307px;
            height: 220px;
            padding: 25px 40px;

            h3 {
                font-size: 22px;
                font-weight: bold;
            }

            i {
                font-size: 40px;
                font-weight: bold;
            }

            p {
                color: #a7a6a4;
            }
        }

    }
    
}

.company {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 1320;

    @media (min-width: 768px) and (max-width: 1023px) {
        flex-direction: row;
        justify-content: space-between;
    }
    
    @media (min-width: 1024px) {
        flex-direction: row;
        margin-top: 120px;
        align-items: flex-start;
        max-width: 1300px;
    }
    
    .company__img__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 350px;


        @media (min-width: 1024px) {
            max-width: 400px;
        }

        @media (min-width: 1199px) {
            max-width: 500px;
        }

        .company__img{
            max-width: 300px;

            @media (min-width: 1024px) {
                max-width: 400px;
            }
            

            @media (min-width: 1199px) {
                max-width: 500px;
            }

                
         }

         .company__founder__wrapper {
            position: absolute;
            bottom: 70px;
            left: 0;
            width: 230px;
            background-color: #beebff;
            font-weight: bold;

            @media (min-width: 1024px) {
                bottom: 140px;
                left: -25px;
                width: 260px;
            }

            @media (min-width: 1199px) {
                bottom: 200px;
                width: 320px;
            }

            .founder {
                color: #f94d1c;
            }
         }
     

    }


    .company__text {

        width: 350px;

        @media (min-width: 1199px) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 530px;
            height: 590px;

        }


        .company__about{
            color: #f94d1c;
            font-size: 18px;
            font-weight: 500;
            margin-top: 30px;
        }

        .company__header {
            font-size: 2rem;
            font-weight: bold;

            @media (min-width: 1199px) {
                font-size: 45px;    
            }
        }


        .company__btn {
            display: flex; 
            align-items: center;

            .btn__black {
                margin-right: 30px;
            }

            .fa-circle-play {
                font-size: 48px;
            }
            
            .video__text {
                margin-left: 10px;
            }
        }
    }

}

.services {
    display: flex;
    background-color: #F0EFE9;
    width: 100%;

    @media (max-width: 425px) {
        
        margin-top: 30px;        
    }

    .services__wrapper {

        display: flex;
        flex-direction: column;
        
        .our__services {

            font-size: 18px;
            color: #f94d1c;

            @media (max-width: 425px) {
                padding-top: 30px;
                margin-bottom: 20px;
                
            }

        }

        .services__header {
            font-size: 2rem;
            font-weight: bold;
        }

        .services__card {

            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
            margin-bottom: 50px;            
    
            .services__card__container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 310px;
                height: 335px;
                padding: 45px 30px;
                background-color: white;
                margin-bottom: 15px;
                
    
                .line {
                    border-bottom: 1px solid #191919;
                    max-width: 39px;
    
    
                    @media (max-width: 425px) {
                        padding-top: 30px;                                     
                    }
                }
    
                .services__card__header {
                    font-weight: 700;
                }

                .arrow__right {

                    align-self: flex-end;

                    .fa-arrow-right {
                        font-size: 25px;
                        text-align: center;
                        background-color: #191919;
                        width: 45px;
                        border: 1px solid #191919;
                        border-radius: 50%;
                        color: white;
                        padding: 10px;
                    }
                }
    
            }

            .services__card__container__yellow {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 310px;
                height: 335px;
                padding: 45px 30px;
                background-color: #F9D783;
                margin-bottom: 15px;
                
    
                .line {
                    border-bottom: 1px solid #191919;
                    max-width: 39px;
    
    
                    @media (max-width: 425px) {
                        padding-top: 30px;                                     
                    }
                }
    
                .services__card__header {
                    font-weight: 700;
                }


                .arrow__right {

                    align-self: flex-end;

                    .fa-arrow-right {
                        font-size: 25px;
                        text-align: center;
                        background-color: white;
                        width: 45px;
                        border: 1px solid white;
                        border-radius: 50%;
                        color: #191919;
                        padding: 10px;
                    }
                }



    
            }
    
        }

        .btn__transparent {
            align-self: center;
        }

    }



}




