@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Inter:wght@300;400;500;700;900&family=Lusitana:wght@400;700&family=Raleway:ital,wght@0,700;1,400&display=swap');

html, body {
    color: #191919;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.btn__yellow {
    background-color: #F9D783;
    border: 1px solid #F9D783;
    color: #191919;
    text-decoration: none;
    padding: 8px 25px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;


    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #DAD9D3;
    }

}

.btn__transparent {
    color: #191919;
    text-decoration: none;
    padding: 8px 25px;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 25px;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #DAD9D3;
    }

}

.home__page {

    background-color: #F0EFE9;
    height: 900px;
    

    .company__logo {
        margin-right: 30px;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header {

        height: 120px;

        .menu {
            display: none;
           
    
            @media (min-width: 1023px) {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 100%;
                flex: 1;
            }

            .top__menu {
                display: flex;
                justify-content: space-between;
                border-bottom: solid 1px #DAD9D3;

                .contact__information {
                    display: flex;

                    .content__box {        

                        margin-right: 30px;
                        padding-right: 30px;
                        border-right: 1px solid #DAD9D3;
                        
                        @media (max-width: 1024px) {
                            display: none;
                        }
                    }

                    .last {
                        border-right: none;
                    }

                }

                .social__media {

                    a{
                        color: #191919;
                        margin-left: 15px;
                    }
                    
                }
            }

            .main__menu {
                display: flex;
                justify-content: space-between;
                align-items: center;

                nav {

                    a {
                        text-decoration: none;
                        margin-right: 20px;
                        color: #191919;
                    }

                }
            }
        }

    }





    .menu__bars {
        border: none;
        font-size: 25px;

        @media (min-width: 1023px) {
            display: none;
        }

    }


    .content {

        height: 80%;

        &.container{
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            @media (min-width:426px) and (max-width:1023px) {
                width: 80%;
            } 

        }

        .cotnent__style {

            @media (min-width:426px) and (max-width:1024px) {
                max-width: 450px;
            } 
            
        }

        .main__text {
            font-size: 3.2rem;
            font-weight: 700;

            @media (min-width:426px) and (max-width:1024px) {
                font-size: 3.5rem;
            } 

            @media (min-width:1025px){
                max-width: 550px;
                font-size: 4rem;
                
            } 

        }

        .sub__text {
            font-size: .9rem;
            color: rgba(25,25,25,0.7 );

            @media (min-width:1025px){
                max-width: 550px;
                                
            } 
        }

        .btns__banner {
            
            margin-top: 20px;

            .btn__yellow,
            .btn__transparent {
                
                margin-right: 20px;

                @media (max-width: 425px) {
                    font-size: .8rem;
                    margin-right: 10px;
                }  
            }
            
        }

    }

}



